Data structure 
string list tuple set dictionary

In [ ]:
1] List is a collection which is ordered and changeable. Allows duplicate members.

2] Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

3] Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.

4] Dictionary is a collection which is ordered and changeable. No duplicate members.(key value pair)

# Strings:
      
	   >>>>  String is a collection of characters
	   >>>>  ( a - z,  A - Z , 0-9, @#$_-…)
	           Strings in python are surrounded by either single quotation marks, or double quotation marks.
	           'hello' is the same as "hello".
 
	  >>> It is a immutable data type
      >>> To concatenate, or combine, two strings you can use the + operator.

In [2]:
a = "sanjit"
print(a.upper())

SANJIT

In [3]:
a = "sanjit"
print(a.lower())

sanjit

# list 
>>> list is collection data type which is contain single value data type as well as hetrogineous value
>>> list is mutable data type
>>> List items are ordered, changeable, and allow duplicate values.
constructor  :  list()

In [50]:
b = [1, 1.5, [1, 2, 3], 'hai']
print(b)
print(b[-1])
b[3]='hello'
print(b)
b[2]='sanju'
print(b)
print(type(b))

[1, 1.5, [1, 2, 3], 'hai']
hai
[1, 1.5, [1, 2, 3], 'hello']
[1, 1.5, 'sanju', 'hello']
<class 'list'>

In [42]:
print(len(b))
print(b[3])
print(b[3][-1])

4
hai
i

# Tuple
>>> Enclosed Between ( ) and separated by ‘,’
>>> Mainly used for data transmission.
>>> Faster than the list (Because list allocate extra location in memory i.e Indexing time).

In [55]:
a = 1,
print(type(a))
a = (1,)
print(type(a))

<class 'tuple'>
<class 'tuple'>

In [60]:
b = (1, 1.5, [1, 2, 3], 'hai')
print(b)
print(type(b))
print(b[1])
print(b[3])
b[2][1]='hai' #inside a tuple chnage the value of list
print(b)

(1, 1.5, [1, 2, 3], 'hai')
<class 'tuple'>
1.5
hai
(1, 1.5, [1, 'hai', 3], 'hai')

In [235]:
b = (1, 1.5, [1, 2, 3], 'hai',{1,2,3,4},{'a':10, 'b':20, 'c':30, 'd':40})
print(b)

(1, 1.5, [1, 2, 3], 'hai', {1, 2, 3, 4}, {'a': 10, 'b': 20, 'c': 30, 'd': 40})

# Set
>>> Enclosed between {} and Separated by ‘ , ’
>>> No DUPLICATES are allowed
>>> Set is mainly used in data filtering.
>>> Set is contain only IMMUTABLE type data items ( int, float, complex, string, tuple).

>>> set can not support indexing
>>> constructor var = set()

In [71]:
a = {1.2,3,4, 5}
print(type(a))
a = {1,2.3,5+2j,False,'sanju'}
print(a)
a = {2.3,5+2j,True,'sanju'}
print(a)
a = {2.3,5+2j,True,'sanju',(1, 2, 3)}
print(a)
# list,set,dictionay in set not acepted

<class 'set'>
{False, 1, 2.3, 'sanju', (5+2j)}
{True, 2.3, (5+2j), 'sanju'}
{True, 2.3, 'sanju', (5+2j), (1, 2, 3)}

# Dictionary
>>> Dictionaries are used to store data values in key:value pairs.
>>> Dictionary items are ordered, changeable, and does not allow duplicates.
>>> Pair are enclosed between { }
>>> Key values are separated by ‘ , ’
>>> Key and values are separated by ‘ : ’
>>> Key are used to identify values.
>>> Key must be of immutable type only (int, float, complex, bool, str, tuple)

In [77]:
a = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(a)
print(a["model"])
print(type(a))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Mustang
<class 'dict'>

#  Method of all data structure(string, list, tuple, set, dictionary)

In [137]:
#islower() check the lower alpbhabet or not  return boolean value
a = 'D'
print(a.islower())
print("..................")
print(a.isupper()) #check the upper alphabet or not return boolean value
print("..................")
b = "122222234"  # check the string is number or not return boolean value
print(b.isnumeric())
print("..................")
c = "abcDFffj"
print(c.isalpha()) #check the string is alphabatiacal or not return boolean value
print("..................")
print(a.isalpha())
print("..................")
print(b.isalpha())
print("..................")
print(b.isalpha())
d = "abc234"
print("..................")
print(d.isalnum())
print("..................") #convert lower to upper
print(c.upper())
print("..................") #convert upper to lower
print(c.lower())
print(c.capitalize()) #lower to upper and upper to lower
print(c.count('f')) #number of occurrence 
print("..................")
print(c.find('f')) # return the index
a = 'hey i am the best'
print(a.split()) #split thw word in list
print("..................")
print('-'.join(a))
print("..................")
print('*'.join(a)) #join the any u want
b = 'hey i fam f the f best'
print(b.replace('f','#'))     #rplace the charachter

False
..................
True
..................
True
..................
True
..................
True
..................
False
..................
False
..................
True
..................
ABCDFFFJ
..................
abcdfffj
Abcdfffj
2
..................
5
['hey', 'i', 'am', 'the', 'best']
..................
h-e-y- -i- -a-m- -t-h-e- -b-e-s-t
..................
h*e*y* *i* *a*m* *t*h*e* *b*e*s*t
hey i #am # the # best

In [240]:
a = 'ABCDefgh'
# a.swapcase()
print(a.capitalize())

Abcdefgh

# List Method

In [151]:
a = ['hello']
print(a.append('hai')) # return none but add the value in a a variable
print(a)
c = [1, 2, 3, 4, [55, 66, 100]]
c.insert(1,88)  #defined index you can put the item in list
print(c)
print("..................")
c.pop()    #remove the last element
print(c)
c.remove(88) #remove the specify element as well take only one argument
print(c)
c.clear() # clear the list return the empty list
print(c)

None
['hello', 'hai']
[1, 88, 2, 3, 4, [55, 66, 100]]
..................
[1, 88, 2, 3, 4]
[1, 2, 3, 4]
[]

In [157]:
x = "hello hai hey how "
x.count('h')    #return the count of occurrence

4

In [159]:
y = [1,2,3,4,5,4,"hey","coool"]
y.count(4)

2

In [161]:
a = [1, 2, 3, 4, 5]
a.reverse()  #reverse the list
print(a)

[5, 4, 3, 2, 1]

In [162]:
a =[4, 5, 6, 1, 2, 3 ,8 ,9]
a.sort()
print(a) #sort of the list ascending order

[1, 2, 3, 4, 5, 6, 8, 9]

# Tuple Method

In [166]:
a = (1,2,3,1,2,3,4,5,6,7,8,2)
a.count(1)
a.count(2)
a.count(3)  # count the nu,mber of occurrence

 ,,,,,,,

2

In [170]:
a = (1,2,3,4,5,6,7,8)
a.index(1) #find index value
a.index(5)
a.index(4,1) #start index to element

3

# Set Method

In [173]:
a = {1,66,99,33,22,23}
a.add(500)  #only one element add in set
print(a)

{1, 66, 99, 33, 500, 22, 23}

In [184]:
a = {1,66,99,33,22,23,'sanjit'}
a.remove(99)  #remove specified element
print(a)
a.remove('sanjit')
print(a)
a.remove(0) #if element nit match give the keyerror
print(a)

{1, 66, 33, 22, 23, 'sanjit'}
{1, 66, 33, 22, 23}

KeyError: 0

In [180]:
a = {1,66,99,33,22,23,'sanjit'}
a.discard('sanjit') #remove the specifed element
print(a)
a.discard(66)
print(a)
a.discard('hello') #not getting error if not match any element
print(a)

{1, 66, 99, 33, 22, 23}
{1, 99, 33, 22, 23}
{1, 99, 33, 22, 23}

In [187]:
a = {1,66,99,33,22,23,'sanjit'}
a.pop()      #remove the last element (in set not sure any element remove)
print(a)
print("..........")
a.pop()
print(a)

{66, 99, 33, 22, 23, 'sanjit'}
..........
{99, 33, 22, 23, 'sanjit'}

In [241]:
a = {1,2,3,4,5}
b = {22, 23, 24, 34,4,5} #common element from specifed set
a.intersection(b)

{4, 5}

In [244]:
a = {1,2,3,4,5}
b = {22, 23, 24, 34,4,5}
a.intersection_update(b)  # update the actual result with exisiting set
print(a)

{4, 5}

In [192]:
a = {1,2,3,4,5}
b = {22, 23, 24, 34,4,5}
a.clear()   #clear the all element and return the empty set
print(a)

set()

In [199]:
a = {1,2,3,4,5}
b = {22, 23, 24, 34,4,5}
x = a.union(b)       #concatenate list
print(x)

{1, 2, 3, 4, 5, 34, 22, 23, 24}

In [200]:
a = {1,2,3,4,5}
b = {22, 23, 24, 34,4,5}
a.difference(b)  #find the differince element

{1, 2, 3}

In [201]:
a = {1,2,3,4,5}
b = {22, 23, 24, 34,4,5}
b.difference(a)

{22, 23, 24, 34}

In [209]:
a = {1,2,3,4,5}
b = {22, 23, 24, 34,4,5}
a.difference_update(b)
print(a)
print(b)

{1, 2, 3}
{34, 4, 5, 22, 23, 24}

In [210]:
a = {1,2,3,4,5}
b = {22, 23, 24, 34,4,5}

b.difference_update(a)
print(b)
print(a)

{34, 22, 23, 24}
{1, 2, 3, 4, 5}

# Dictionary Method

In [217]:
a = {'a':10, 'b':20, 'c':30, 'd':40}
print(a)
a['b']  #index method

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

20

In [218]:
a = {'a':10, 'b':20, 'c':30, 'd':40}
print(a)
a.get('d') #get the value of dictionary

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

40

In [245]:
a = {'a':10, 'b':20, 'c':30, 'd':40}
a.items() #key and value both tupple inside the list

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [220]:
a = {'a':10, 'b':20, 'c':30, 'd':40}
print(a)
a.popitem() #remove the last key value pair
print(a)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
{'a': 10, 'b': 20, 'c': 30}

In [222]:
a = {'a':10, 'b':20, 'c':30, 'd':40}
print(a)
a.pop('a')      #remove the specified key 
print(a)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
{'b': 20, 'c': 30, 'd': 40}

In [226]:
a = {'a':10, 'b':20, 'c':30, 'd':40}
b = {'e':22, 'f':33, 'g':44}
a.update(b) #update the dictionary
print(b)
print(a)

{'e': 22, 'f': 33, 'g': 44}
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 22, 'f': 33, 'g': 44}

In [228]:
a = {'a':10, 'b':20, 'c':30, 'd':40}
a.clear()     #empty dictionary clear all the data
print(a)

{}

In [230]:
a = {'a':10, 'b':20, 'c':30, 'd':40}
a.keys()  #extract the key

dict_keys(['a', 'b', 'c', 'd'])

In [233]:
a = {'a':10, 'b':20, 'c':30, 'd':40}
a.values()   #extract the value

dict_values([10, 20, 30, 40])

In [6]:
n = 29
s = 4
count = 1
lis = []
for i in range(1, s+1):
    if i == 1:
        for j in range(s, 0, -1):
            n = n - ((s - i) * (j * count - j)) // (i + (count // j)) - (count-i)//(j*j)
            print(n, end=' ')
            lis.append(n)
            count += 1
    else:
        print()
        lis1 = []
        for j in range(len(lis)-1):
            n = lis[j]-lis[j+1]
            print(n, end=' ')
            lis1.append(n)
        lis = lis1

29 20 14 10
9 6 4
3 2
1

In [119]:
n1 = 1
n2 = 0
li = 5
for i in range(1, li):
    for j in range(i):
        n = n1 + n2 + j
        sep = ' '*(li-1-i-j-j)
        print(sep + (str(n)+' '), end='')
    print()
    n1 = n2
    n2 = n

   1
  1 2
 3 4 5
7 8 9 10