In [184]:
n = 5
for i in range(5):
    print('*')

*
*
*
*
*

In [185]:
n = 5
for i in range(5):
    print('*', end=' ')

* * * * *

In [256]:
n= 5
for i in range(n):
    for j in range(n):
        if i== 0 or j==0 or i == n-1 or j==n-1 or i==j:
            print('*', end=" ")
        else:
            print(" ",end=' ')
    print()

* * * * *
* *     *
*   *   *
*     * *
* * * * *

In [254]:
n= 5
a = n-1
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or i== a or j == a:
            print('*', end=" ")
        else:
            print(" ",end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [258]:
i = 1
while i<=5:  
  print ('* '*i)
#   print(i)
  i = i+1

*
* *
* * *
* * * *
* * * * *

In [261]:
n = int(input("eter the number of raw "))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

eter the number of raw 5
*
* *
* * *
* * * *
* * * * *

In [191]:
n = int(input("eter the number of raw "))
for i in range(n,0,-1):
#     print(i)
    for j in range(i,0,-1):
        print(" *",end=" ")
    print()

eter the number of raw 5
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [259]:
n = int(input("eter the number of raw "))
for i in range(n+1,0,-1):
#     print("i",i)
    for j in range(i,0,-1):
        print(" ",end=" ")
    for j in range(i,n+1):
#         print("value of j",j)
        print('*', end=' ')
    print()

eter the number of raw 5

          *
        * *
      * * *
    * * * *
  * * * * *

In [187]:
rows = 5
for i in range(rows + 1, 0, -1):    
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [257]:
n = 5
y = n +1
print(" y", y) 
for i in range(0, n):
    for j in range(0, y):
        print(end=" ")
    y = y-1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

 y 6
      *
     *  *
    *  *  *
   *  *  *  *
  *  *  *  *  *

In [289]:
n= 5
for i in range(n):
#     print(i)
    for j in range(i,n):
        print(' ', end=' ')
    for j in range(i):
        print('*', end =' ')
    for j in range(i+1):
        print('*', end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
for j in range(i+1):
        print("*",end=" ")
    print()

        * * * * * * 
         * * * * * 
          * * * *   
           * * * 
            * * 
             *

In [74]:
rows = int(input("enter the number of rows: "))   
k = rows +1
print(k)
for i in range(rows, -1, -1):
#     print("i", i)
    for j in range(k, 0, -1):
#         print("j ", j)
        print(end=" ") 
#         print("i and j",i , j)
    k = k + 1   
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

Enter the number of rows: 5
6
      * * * * * *
       * * * * *
        * * * *
         * * *
          * *
           *

In [81]:
n = 5
for i in range(n):
    for j in range(i+1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [95]:
n= 5
for i in range(n):
    for j in range(i,n):
        print('*', end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [101]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(' ', end=' ')
    for j in range(i,n):
        print('*', end=' ')
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [160]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("", end=' ')
    for j in range(i,n):
        print('*', end=' ')
    print()

 * * * * *
  * * * *
   * * *
    * *
     *

In [156]:
n= 5
for i in range(n):
    for j in range(i,n):
        print('*', end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [130]:
n = 5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [108]:
n= 5
for i in range(n):
    for j in range(i,n):
        print(' ', end=' ')
    for j in range(i+1):
        print('*', end =' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [110]:
n= 5
for i in range(n):
    for j in range(i,n):
        print(' ', end=' ')
    for j in range(i):
        print('*', end =' ')
    for j in range(i+1):
        print('*', end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [171]:
rows = int(input("enter the number of rows: "))  
  
k = 2 * rows - 2  
for i in range(0, rows):    
    for j in range(0, k):  
        print(end=" ")    
    k = k - 1    
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")

Enter the number of rows: 5
        *
       * *
      * * *
     * * * *
    * * * * *

In [178]:
rows = int(input("enter the number of rows: "))  
  
k = 2 * rows - 2    
k = rows - 2   
for i in range(rows, -1, -1):   
    for j in range(k, 0, -1):  
        print(end=" ")   
    k = k + 1   
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")

Enter the number of rows: 5
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [179]:
rows = int(input("enter the number of rows: "))  
  
k = 2 * rows - 2  
for i in range(0, rows):    
    for j in range(0, k):  
        print(end=" ")    
    k = k - 1    
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")   
k = rows - 2   
for i in range(rows, -1, -1):   
    for j in range(k, 0, -1):  
        print(end=" ")   
    k = k + 1   
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")

Enter the number of rows: 5
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [207]:
n = 5
for i in range(n):
    for j in range(i+1):
        print('*', end=' ')
    print()
for i in range(n):
    for j in range(i,n-1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*